html {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Hanalei Fill', cursive;
    background: linear-gradient(white, orange, grey);
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 350px;
}
h1 {
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 50px;
    color: #ac0505;
    text-shadow: 2px 2px #ff0000;
}

#mineJpg {
    float: left;
    mix-blend-mode: multiply;
    min-width: 192px;
    margin-top: 50px;
}

h2 {
    margin-left: 15%;
}

input {
    margin-top: 60px;
    height: 100px;
    width: 400px;
    background: radial-gradient(white, orange, grey);
    border: black 2px solid;
    border-radius: 15px 70px;
    font-size: 30px;
    color: lightslategray;
}

input:hover {
    cursor: pointer;
    background: radial-gradient(grey, orange, lightslategray);
    border: black 2px solid;
    color: white;
}

.buttons {
    margin-left: 10%;
}

.highscores {
    width: 450px;
    float:left;
    padding-left: 200px;
    margin-left: 100px;
}

@media (max-width: 850px) {
    h1 {
        width:300px;
        font-size: 36px;
    }

    .buttons {
        margin-left: 20%;
    }

    h2 {
        margin-left: 30%;
    }
}

@media (max-width: 450px) {
    h2 {
        margin-left: 10%;
    }

    a {
        width: 300px;
        height: 80px;
        background: radial-gradient(grey, orange, white);    border-style: none;
        border-radius: 15px 70px;
    }
}

#game {
    background-color: transparent;
    margin:0 auto;
    padding:3px;
    transition:filter 2s;
}

.hidden {
    display: none;
}


#game > div{
    border:2px solid orange;
    border-style:outset;
    float:left;
    background:#AAA;
    transition:background 1s;
    text-align:center
}

#game > div:hover{
    background:#DDD
}

#game > div.mbomb {
    background:#c62828
}

#game > div.mbomb:hover {
    background:#ffcdd2
}

#game > div.midk {
    background:#00695c
}
#game > div.midk:hover {
    background:#b2dfdb
}

#game > div.sbomb {
    background:#000
}

#game > div.sel {
    background:#E5E5E5;
    font-weight:700;
}

#game > div.sel1 {
    color: #33691e;
}

#game > div.sel2 {
    color: #827717;
}

#game > div.sel3 {
    color: #f57f17;
}

#game > div.sel4 {
    color: #ff6f00;
}

#game > div.sel5 {
    color: #e65100;
}

#game > div.sel6 {
    color: #bf360c;
}

#game > div.sel7 {
    color: #b71c1c;
}

#game > div.sel8 {
    color: #d50000;
}

#status {margin:0 auto;height:30px;line-height:30px;padding:4px}

.btn {
    padding:4px;
    line-height:36px;
    border: 1px solid black;
    border-radius:8px;
    text-decoration:none
}

.btn:hover {
    color:black
}
